n8n/workflows/Client Onboarding Workflow v3.json
{
  "name": "Client Onboarding Workflow v3",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nif (!body || !body.name || !body.email || !body.company) {\n  throw new Error(\"name, email and company are required\");\n}\n\nreturn [\n  {\n    json: body\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        32
      ],
      "id": "e0963faf-8aa2-40d7-9397-516366e1d171",
      "name": "Validate Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "const body = $json.body || {};\n\nif (!body.name || !body.email || !body.company) {\n  throw new Error(\"Invalid payload\");\n}\n\nreturn [{ json: body }];\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        32
      ],
      "id": "af6f28a7-dfd1-484b-b76c-5cb5f7f60331",
      "name": "Insert Client",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "1k8UeRxAev69issW",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO onboarding_logs (\n  step_name,\n  status,\n  error_message,\n  payload\n)\nVALUES (\n  'INSERT_CLIENT',\n  'FAILURE',\n  '{{ $json.error && $json.error.message ? $json.error.message.replace(/'/g, \"''\") : \"Unknown database error\" }}',\n  '{{ JSON.stringify($json).replace(/'/g, \"''\") }}'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        -96
      ],
      "id": "259bf7a0-31d3-4394-a8a5-667ad6ea4235",
      "name": "Log Failure",
      "credentials": {
        "postgres": {
          "id": "1k8UeRxAev69issW",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#new-channel",
          "mode": "name"
        },
        "text": "=🚀 Client Onboarding Successful\n\nName: {{$node[\"Onbord\"].json[\"name\"]}}\nEmail: {{$node[\"Onbord\"].json[\"email\"]}}\nCompany: {{$node[\"Onbord\"].json[\"company\"]}}\n\nStatus: SUCCESS ✅\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1136,
        -96
      ],
      "id": "b7a9af38-ab7e-4028-b512-7e60748be1cd",
      "name": "Send a message",
      "webhookId": "459cb81f-53fb-4fd0-b117-715ec0f21542",
      "credentials": {
        "slackApi": {
          "id": "hvvWoZ91nPjFfc6k",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9b9ae6dd-469a-44b1-914f-1d4488455a01",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        32
      ],
      "id": "6a216afb-385f-416a-a74e-02375ae01d19",
      "name": "Onbord",
      "webhookId": "9b9ae6dd-469a-44b1-914f-1d4488455a01"
    },
    {
      "parameters": {
        "jsCode": "const apiKey = $json.headers[\"x-api-key\"];\n\nif (!apiKey) {\n  throw new Error(\"Missing API key\");\n}\n\nif (apiKey !== \"super_secret_key_123\") {\n  throw new Error(\"Unauthorized\");\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        32
      ],
      "id": "a4fe1952-ec09-4e54-bfee-f90067e6c576",
      "name": "Normalize Request Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eae4bcba-61f1-4445-872a-71d9b4fa2b02",
              "leftValue": "={{$json.error.message}}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        32
      ],
      "id": "cd777725-f212-4c63-a0ba-cb421ffd9f64",
      "name": "DB Insert Successful?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3ce5c4bf-c1ac-4909-98f0-e8585d442e5e",
              "leftValue": "={{$json.error.message.toLowerCase().includes('duplicate')}}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        -48
      ],
      "id": "07d9e8bd-9e13-4b3f-a4b4-091ea6238a1c",
      "name": "Handle Failure"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Client onboarded successfully\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        128
      ],
      "id": "94e90d84-538f-4583-8446-780affe57df4",
      "name": "Respond 200 – Onboarding Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"{{ $json.error.message || 'Onboarding failed' }}\"\n}\n",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1360,
        -96
      ],
      "id": "4046451c-096c-465f-8394-39be30823f88",
      "name": "Respond 500 – Onboarding Failed"
    }
  ],
  "pinData": {
    "Send a message": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Insert Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Client": {
      "main": [
        [
          {
            "node": "DB Insert Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond 500 – Onboarding Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onbord": {
      "main": [
        [
          {
            "node": "Normalize Request Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request Payload": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Insert Successful?": {
      "main": [
        [
          {
            "node": "Handle Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 – Onboarding Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Failure": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 – Onboarding Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f15d68e6-558e-4893-9fb1-3d85ced69344",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7bcb823e9cb7ea1dab8f73ebd3a75ffe9fe4db85b7c5f701a706327a0548cd9"
  },
  "id": "4YFtxC0u42olpTTj",
  "tags": []
}